#menubar{
  box-shadow: none;
  border:none;
  background-color: black;
  margin-top: 50px;
}
body{
  background-color: black;
}
#logo{
  position: absolute;
  left: 0;
  right: 0;
  top:15px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
#midItems{
  background-color: black;
  border: white;
  margin-top: 50px;
}
#midItems>div>a{
  font-size: smaller;
}
#infoColumn{
  box-shadow: none;
  border:none;
  background-color: black;
}

#infoColumn.column.title{
  font-size: 100%;
  line-height: 1.3em;
  color: #ffffff;
  letter-spacing: 1px;
}
.tagline{
  color: #00c7b6;
  font-size: 9.6px;
}
